{% extends 'main.html' %} <!-- Inserção do main.html -->

{% block content %}
    <form name="form-users" id="formUsers" method="post" action="/store/">
        <div class="col-6 mt-4 m-auto">
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}

            {% csrf_token %}
            <!--Criando campos para inserção dos dados dos usuarios -->
            <input class="form-control mt-4" type="text" name="biografia" id="biografia" placeholder="Adicione uma biografia para seu perfil:">
            <select name="genero">
                <option value="genero">feminino</option>
                <option value="genero">Masculino</option>
                <option value="genero">Não-Binário</option>
                <option value="genero">Outros</option>
                <option value="genero">Prefiro não responder</option>
            </select>
            <input class="form-control mt-4" type="text" name="localizacao" id="localizacao" placeholder="Adicione sua Localização:">
            <input class="btn btn-primary mt-4" type="submit" value="Cadastrar Perfil">

        </div>

    </form>
{% endblock %}
